/* Base rules */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Layout rules */
.holder {
  display: flex;
}

.headline {
  align-items: center;
  justify-content: center;
}

.zip {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feel {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  display: grid;
  align-content: center;
}

/* Theme rules */
body {
  background-color: #fefbff;
  font-family: "Roboto", sans-serif;
}

.headline {
  font-size: 6em;
}

label {
  font-size: 3em;
}

.title {
  font-size: 3em;
}

#zip,
#feelings,
#generate {
  font-size: 3em;
}

#date,
#temp,
#content {
  font-size: 3em;
}

/* ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .headline {
    font-size: 3em;
  }

  label {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.2em;
  }

  #zip,
  #feelings,
  #generate {
    font-size: 1.2em;
  }

  #date,
  #temp,
  #content {
    font-size: 1.2em;
  }

  .feel > textarea {
    font-size: 1.2em;
  }
}

.title {
  align-content: center;
}

.body {
  font-family: Roboto;
}

button {
  background-color: #3a5ba9;
  padding: 20px 40px;
  border-radius: 30px;
  color: white;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  button {
    background-color: #3a5ba9;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
  }
}

textarea,
input {
  background-color: #e2e2ec;
}

#entryHolder {
  border-style: solid;
  border-color: #3a5ba9;
  border-radius: 8px;
  padding: 30px;
}

/* Module rules */
.headline,
.zip,
.feel,
.entry {
  margin: 10px;
}

.zip > label {
  margin: 30px;
}

.feel > button {
  margin-top: 40px;
}

.feel > label {
  margin: 30px;
}

.feel > textarea {
  margin-left: 50px;
  margin-right: 50px;
}

.entry > div {
  margin: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .headline,
  .zip,
  .feel,
  .entry {
    margin: 8px;
  }

  .zip > label {
    margin: 10px;
  }

  .feel > button {
    margin-top: 10px;
  }

  .feel > label {
    margin: 10px;
  }

  .feel > textarea {
    margin-left: 50px;
    margin-right: 50px;
  }

  .entry > div {
    margin: 10px;
  }
}
